<div
  class="swiper-container"
  {{did-insert (fn this.setupSwiper)}}
  ...attributes
>
  <Hds::Layout::Grid
    @columnMinWidth="10%"
    {{style height="100%" grid-template-rows="min-content"}}
    as |LG|
  >
    <LG.Item></LG.Item>
    <LG.Item></LG.Item>
    <LG.Item @colspan={{6}}>
      <div class="swiper">
        <div class="swiper-wrapper">
          {{#each @images as |image|}}
            <div class="swiper-slide">
              <img src="{{image.photoPath}}" alt="{{image.photoTitle}}" />
            </div>
          {{/each}}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </div>
    </LG.Item>
    <LG.Item></LG.Item>
    <LG.Item></LG.Item>
  </Hds::Layout::Grid>
</div>
