@import "@hashicorp/design-system-components";

:root {
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  --token-color-focus-action-internal: #3b3d45 !important;
  --token-color-focus-action-external: #8c909c !important;
  --token-color-foreground-faint: #3b3d45 !important;
  --token-color-surface-strong: transparent !important;
  --token-color-foreground-success-on-surface: transparent !important;
}

.swiper-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: .7s;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.0);
}

#hds-main {
  padding: 5em 15em 2em;
  overflow: scroll !important;
  flex: column !important
}

.portfolio-card-div {
  height: 28.75rem;

  .hds-code-block {
    height: 17.25rem;
    overflow-y: auto;
  }
}

hr {
  border: solid !important;
  margin: 1.5rem !important;
  border-color: #F0DB7D !important;
}

.hds-page-header {

  margin-left: 3.5rem;

  a {
    text-decoration: none !important;
  }

  div.hds-layout-grid-item>a>span {
    font-weight: bolder;
    color: #3b3d45;
  }

  nav {
    justify-items: right;
    margin-right: 3.5rem;
  }

  .hds-badge {
    background-color: #3b3d45 !important;
    color: #60dea9 !important;
    border: #6BACE4 !important;
  }

  .hds-icon-tile {
    background-color: #3b3d45 !important;
    color: #6BACE4 !important;
  }

  nav>ol>li::after {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3b3d45 !important;
    padding: 0 .65rem !important;
    content: "~" !important;
    font-size: xx-large;
    font-weight: 900;
  }

  nav>ol>li {
    div {
      span {
        font-size: xx-large !important;
        padding: 0.50rem !important;
      }
    }

    a>span {
      padding: 0.5rem;
    }

    li.hds-breadcrumb__item,
    li.hds-breadcrumb__list {
      background-color: transparent !important;
      color: #3b3d45 !important;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      font-size: xx-large !important;
      font-weight: 900 !important;
      padding: 0 0.65rem !important;
      display: flex;
      justify-content: center;
      height: 2rem;
      margin: 0;
    }

    a>span.hds-breadcrumb__text,
    div.hds-breadcrumb__item {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      font-size: xx-large !important;
      font-weight: 900 !important;
      padding: 0 0.65rem !important;

      display: inline-block;
      animation: birds 3.5s linear infinite;
    }

    a>span.hds-breadcrumb__text:nth-child(1),
    div.hds-breadcrumb__item:nth-child(1) {
      animation-delay: 0s;
    }

    a>span.hds-breadcrumb__text:nth-child(2),
    div.hds-breadcrumb__item:nth-child(2) {
      animation-delay: 0.4s;
    }

    a>span.hds-breadcrumb__text:nth-child(3),
    div.hds-breadcrumb__item:nth-child(3) {
      animation-delay: 0.8s;
    }

    a>span.hds-breadcrumb__text:nth-child(4),
    div.hds-breadcrumb__item:nth-child(4) {
      animation-delay: 1.2s;
    }

    a>span.hds-breadcrumb__text:nth-child(5),
    div.hds-breadcrumb__item:nth-child(5) {
      animation-delay: 1.6s;
    }

    a>span.hds-breadcrumb__text:nth-child(6),
    div.hds-breadcrumb__item:nth-child(6) {
      animation-delay: 2.0s;
    }

    a>span.hds-breadcrumb__text:nth-child(7),
    div.hds-breadcrumb__item:nth-child(7) {
      animation-delay: 2.4s;
    }

  }
}

aside {
  padding-left: 1em;

  a {
    color: inherit !important;
    background-color: transparent !important;
  }
}

a.hds-button:hover,
a.hds-button:focus,
a.hds-button:active,
a.hds-button.mock-hover,
a.hds-button.mock-focus,
a.hds-button.mock-active {
  background: linear-gradient(-45deg,
      #006BB8,
      #6BACE4,
      #7fffd4,
      #6BACE4,
      #006BB8);
  background-size: 200% 200%;
  animation: gradient 1.25s linear infinite;
}

a {
  text-decoration: none !important;
  color: inherit;
}

html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

// rgba(107, 172, 228, 1) 68%, #6BACE4
// rgba(0,107,184,1) 68% #006BB8
// rgba(127, 255, 212, 1) 3% #7fffd4
// rgba(96, 222, 169, 1) 38%,  #60dea9
// rgba(99, 208, 255, 1) 98%) #63d0ff
// rgba(0, 194, 226, 1) #00C2E2

body {
  height: 100%;
  overflow-y: auto;
  padding-top: 1em;
  justify-content: center;
  margin: auto;
  background: linear-gradient(315deg,
      rgba(0, 194, 226, 1) 3%,
      rgba(107, 172, 228, 1) 38%,
      rgba(127, 255, 212, 1) 68%,
      rgba(99, 208, 255, 1) 98%);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
  background-attachment: fixed;

  .body-container {
    overflow: hidden;
  }

  .hds-card__container {
    background: linear-gradient(-45deg,
        var(--token-color-packer-gradient-primary-start),
        var(--token-color-nomad-gradient-primary-start));
    background-size: 400%;
    animation: gradient 10s ease infinite;
    display: block;
    padding: 2.25em 1.75em;
    border-radius: inherit;

    &:focus,
    &:focus-visible {
      box-shadow: var(--token-color-palette-green-300);
      border-radius: round(1.5)
    }
  }
}

footer {
  padding: 1em 0 2em;
  justify-items: center;

  hr {
    width: 75%;
  }

  .hds-badge {
    background-color: inherit !important;
  }

  a {
    text-decoration: inherit;
    color: inherit !important;
  }
}


.code {
  padding-left: 5%;

  .code-container {
    display: flex;
    padding-bottom: 1.5em;

    p {
      padding-left: 3em;
      padding-right: 1.5em;
      display: inline-flex;
    }

    a {
      padding-right: 3em;
    }
  }
}

.hds-accordion-item {
  background: linear-gradient(-45deg,
      var(--token-color-packer-gradient-primary-start),
      var(--token-color-nomad-gradient-primary-start));
  background-size: 400%;
  animation: gradient 10s ease infinite;
}

.wave {
  background: rgb(255 255 255 / 33%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 30rem;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(-2.7rem, 0, 2rem);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -5.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradientbutton {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes birds {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-areas:
      'name'
      'avatar'
      'bio';
  }
}

@media (min-width: 700px) {
  .user-profile {
    display: flex;
  }
}
