<Hds::PageHeader as |PH|>
  <PH.Title>Character Development</PH.Title>
  <PH.Badges>
    <Hds::Badge @text="Father 🡘 Engineer 🡘 Leader" @icon="zap" @color="success" @type="inverted" @iconPosition="trailing" @size="large" />
  </PH.Badges>
</Hds::PageHeader>
<address>
  <br />
  <ul class="about-card-list">
    <Hds::Card::Container @tag="li" @level="mid" @levelHover="high" @levelActive="mid" @hasBorder={{true}}>
      <Hds::Badge @text="About Adam" @icon="zap" @color="success" @type="inverted" @iconPosition="trailing" @size="large" />
      <br />
      <br />
      <p class="hds-typography-display-300">
        I was born in the great city of Philadelphia, PA and landed in
        Lexington, KY with horses 🏇 and bourbon 🥃. I've been here since
        2015 and have no regrets. I'm a father && chocolate lab owner &&
        devops, backend, software engineer. I enjoy exercising at the gym,
        meditation, yoga, golf, volleyball, great sushi, local new food, and
        all things green. I've worked for several startup companies. I took a
        risk in moving to Kentucky with only a suitcase before working from
        home became a popular option. I've been through many challenges, both
        personally and career related, which have tested my resilience many
        times. Yet, I always find a way towards a solution when change is
        required. I continue to show up in the face of adversity due to my
        internal motivation and strong work ethic, regardless if the job is
        in-person or remote. I'm a passionate, dedicated person who remains
        compassionate about solving complex problems, working alongside a
        motivated team, and learning new skills along my journey.
      </p>
      <p>Philly strong, Kentucky proud.</p>
    </Hds::Card::Container>
  </ul>
</address>