<Hds::PageHeader as |PH|>
  <PH.Title>about me</PH.Title>
  <PH.Breadcrumb>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="project" @icon="layers" />
      <Hds::Breadcrumb::Item @text="about" @icon="robot" />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.Badges>
    <Hds::Badge @text="working" @icon="star" @color="neutral-dark-mode" @iconPosition="trailing" />
  </PH.Badges>
</Hds::PageHeader>

<div class="about">
  <address>
    <p>name: adam</p>
    <Hds::Badge @text="husband, father" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
    <br><br>
    <Hds::Badge @text="rubyist, software engineer" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
    <br><br>
    <Hds::Badge @text="chocolate labs" @icon="truck" @color="neutral-dark-mode" @iconPosition="trailing" />
    <br><br>
    <a href="mailto:moose@woodford.life">woodford handles my email</a>
  </address>
</div>
