<Hds::PageHeader as |PH|>
  <div class="biggest-h"><PH.Title>About Me</PH.Title></div>
  <PH.Breadcrumb>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="project" @icon="layers" />
      <Hds::Breadcrumb::Item @text="about" @icon="robot" />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.Badges>
    <center>
      <Hds::Badge @text="Name: Adam Kaewell" @icon="zap" @color="warning" @type="inverted" @iconPosition="trailing" @size="large" />
    </center>
  </PH.Badges>
</Hds::PageHeader>
<div class="container">
  <address>
    <br><br>
    <Hds::Badge @text="From Philadelphia Cheesesteaks ðŸ§€ðŸ„ to Lexington Horses ðŸ‡ & Bourbon ðŸ¥ƒ" @icon="zap" @color="success" @type="inverted" @iconPosition="trailing" @size="large" />
    <br><br>
    <Hds::Badge @text="I'm a father && chocolate lab owner && devops, backend, software engineer" @icon="zap" @color="highlight" @type="inverted" @iconPosition="trailing" @size="large" />
    <br><br>
    <Hds::Badge @text="I enjoy exercising at the gym, hot yoga, golfing with friends, volleyball, great sushi, and all things green" @icon="zap" @color="success" @type="inverted" @iconPosition="trailing" @size="large" />
    <br><br>
    <Hds::Badge @text="I've worked for several startup companies in person & remote. I'm passionate about solving problems, teamwork, and learning new skills" @icon="zap" @color="highlight" @type="inverted" @iconPosition="trailing" @size="large" />
    <br><br>
    <Hds::Badge @text="Email: adam@kaewell.com" @icon="zap" @color="success" @type="inverted" @iconPosition="trailing" @size="large" />
    <br><br>
  </address>
</div>
