<Hds::PageHeader as |PH|>
  <PH.Title>reaching out</PH.Title>
  <PH.Breadcrumb>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="project" @icon="layers" />
      <Hds::Breadcrumb::Item @text="contact" @icon="mail" />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.Badges>
    <Hds::Badge @text="working" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
  </PH.Badges>
</Hds::PageHeader>

<div class="contact">
  <address>
    <p>name: adam</p>
    <Hds::Badge @text="github & email" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
    <br><br>
    <a href="mailto:moose@woodford.life">woodford handles my email</a>
  </address>
</div>
