<Hds::PageHeader as |PH|>
  <div class="biggest-h"><PH.Title>contact the help</PH.Title></div>
  <PH.Breadcrumb>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="project" @icon="layers" />
      <Hds::Breadcrumb::Item @text="contact" @icon="mail" />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.Badges>
    <Hds::Badge @text="working" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
  </PH.Badges>
</Hds::PageHeader>

<div class="container">
  <address>
    <p>name: adam</p>
    <Hds::Badge @text="github & email" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
    <br><br>
    <a href="mailto:adam@kaewell.com">woodford handles my email</a>
  </address>
</div>
